  <footer
    class="footer sm:footer-horizontal bg-neutral text-neutral-content items-center p-4"
  >
    <aside class="grid-flow-col items-center">
      <p>
        Mensajería L.D.I © {new Date().getFullYear()} - Todos los derechos reservados
      </p>
    </aside>
    <nav class="grid-flow-col gap-4 md:place-self-center md:justify-self-end">
      <button class="btn btn-ghost">
        <a href="https://www.linkedin.com/in/luisina-gargiulo/" target="_blank">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-code-icon lucide-code"
            ><path d="m16 18 6-6-6-6"></path><path d="m8 6-6 6 6 6"></path></svg
          >
        </a></button
      >
    </nav>
  </footer>