---
import "../styles/global.css";
---
<!doctype html>
<html lang="es" data-theme="bumblebee" class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>Mensajería LDI</title>
	</head>
	<body class="font-exo2">
		<slot />
	</body>
</html>
